* {
  padding: 0;
  margin: 0;
}
body {
  font-color: #222222;
  font-family: Georgia;
}
.page ul {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border-top: 2px solid #888888;
  border-left: 2px solid #888888;
}
.page ul li {
  width: 133.333333333333px;
  height: 133.333333333333px;
  display: inline;
  float: left;
}
.page ul li div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #888888;
  border-right: 2px solid #888888;
  padding: 5px;
  width: 121.333333333333px;
  height: 121.333333333333px;
}
.page-break { page-break-after: always; }
